
ul{
	list-style:none;
}
#modDiv {
	width: 300px;
	height: 100px;
	background-color: gray;
	position: absolute;
	top: 50%;
	left: 50;
	margin-top: -50px;
	margin-left: 200px;
	padding: 10px;
	z-index: 1000;
}
.replyData div{
	display : inline-block;
}
.replyData div.replyer{
	margin-right:10px;
}
.replyData div.reply-text{
	width : 75%;
}

#replies{
	padding-left:10px;
	margin-top : 10px;
}

#replies table tr{
	height:25px;
}
#replies table tr td{
	 padding-right: 9px;
}
#replies table button{
	padding : 0px;
}

.paginate_button .active {
  background-color: #eeeeee;
}









