<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="org.zerock.mapper.BoardMapper">
	
		<insert id="create">
		INSERT INTO BASICBOARD.TBL_BOARD(TITLE,CONTENT,WRITER)
		     VALUES( #{title},#{content},#{writer} )
		</insert>
		
		<insert id="addAttach">
			INSERT INTO BASICBOARD.TBL_ATTACH(FULLNAME,BNO) VALUES (#{fullName}, (SELECT MAX(LAST_INSERT_ID(BNO)) FROM basicboard.tbl_board)) 
				
		</insert>
	
			
		<update id="update">
			UPDATE BASICBOARD.TBL_BOARD SET TITLE=#{title},CONTENT=#{content}
			WHERE BNO = #{bno}
		</update>
		
		<update id="updateReplyCnt">
			UPDATE BASICBOARD.TBL_BOARD SET REPLYCNT = REPLYCNT+ #{amount} WHERE BNO=#{bno}
		</update>
		
		<update id="updateViewCnt">
			UPDATE BASICBOARD.TBL_BOARD SET VIEWCNT = VIEWCNT + 1 WHERE BNO = #{bno}
		</update>
		
		
		<delete id="delete">
			DELETE FROM BASICBOARD.TBL_BOARD WHERE BNO=#{bno}			
		</delete>
		
		<select id="read" resultType="BoardVO">
			SELECT BNO,TITLE,CONTENT,WRITER,REGDATE,VIEWCNT
			FROM BASICBOARD.TBL_BOARD
			WHERE BNO=#{bno}
		</select>	
		
		<select id="listAll" resultType="BoardVO">
			<![CDATA[
				SELECT BNO,TITLE,CONTENT,WRITER,REGDATE,VIEWCNT,REPLYCNT
				FROM BASICBOARD.TBL_BOARD
				WHERE BNO > 0
				ORDER BY BNO DESC, REGDATE DESC
			]]>
		</select>
		
		<select id="listPage" resultType="BoardVO">
			<![CDATA[
				SELECT BNO,TITLE,CONTENT,WRITER,REGDATE,VIEWCNT,REPLYCNT
				FROM BASICBOARD.TBL_BOARD
				WHERE BNO > 0
				ORDER BY BNO DESC, REGDATE DESC
				LIMIT #{page}, 10
			]]>
		</select>
		
		<select id="listCriteria" resultType="BoardVO">
			<![CDATA[
			
				SELECT BNO,TITLE,CONTENT,WRITER,REGDATE,VIEWCNT,REPLYCNT
				FROM BASICBOARD.TBL_BOARD
				WHERE BNO > 0
				ORDER BY BNO DESC, REGDATE DESC
				LIMIT #{pageStart}, #{perPageNum}
			]]>
		</select>
		
		<select id="countPaging" resultType="int">
			<![CDATA[
			SELECT count(BNO) FROM BASICBOARD.TBL_BOARD WHERE BNO>0  
			]]>
		</select>
		
		
		<select id="listSearch" resultType="BoardVO">
			<![CDATA[
				SELECT * 
				FROM BASICBOARD.TBL_BOARD
				WHERE BNO>0
			]]>
			<include refid="search"></include>
			<![CDATA[
				ORDER BY BNO DESC
				LIMIT #{pageStart}, #{perPageNum}
			]]>
		</select>
		
		<select id="listSearchCount" resultType="int">
			<![CDATA[
				SELECT COUNT(BNO)
				FROM BASICBOARD.TBL_BOARD
				WHERE BNO>0
			]]>
			<include refid="search"></include>
		</select>
		
		<sql id="search">
			<if test="searchType != null">
					<if test="searchType == 't'.toString()">
						AND TITLE LIKE CONCAT('%',#{keyword},'%')
					</if>
					<if test="searchType == 'c'.toString()">
						AND CONTENT LIKE CONCAT('%',#{keyword},'%')
					</if>
					<if test="searchType == 'w'.toString()">
						AND WRITER LIKE CONCAT('%',#{keyword},'%')
					</if>
					<if test="searchType == 'tc'.toString()">
						AND ( 
							TITLE LIKE CONCAT('%',#{keyword},'%') 
							OR CONTENT LIKE CONCAT('%',#{keyword},'%')
						
						)
					</if>
					<if test="searchType == 'tw'.toString()">
						AND (  CONTENT LIKE CONCAT('%',#{keyword},'%') 
						OR WRITER LIKE CONCAT('%',#{keyword},'%'))
					</if>
					<if test="searchType == 'twc'.toString()" >
						AND(
							TITLE LIKE CONCAT('%',#{keyword},'%')
							OR
							CONTENT LIKE CONCAT('%',#{keyword},'%')
							OR
							WRITER LIKE CONCAT('%',#{keyword},'%')
						) 
					</if>
				</if>
			</sql>
		
		
		
	</mapper>
	
	
	
	
	
	
	
	
	