<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="org.zerock.mapper.userMapper">
		
		<select id="login" resultType="UserVO">
			SELECT UID,UPW,UNAME FROM BASICBOARD.TBL_USER WHERE UID= #{uid} and UPW=#{upw}
		</select>
		
		<select id="checkUserWithSessionKey" resultType="UserVO">
			SELECT * FROM BASICBOARD.TBL_USER WHERE SESSIONKEY = #{value}
		</select>
		
		<update id="keepLogin">
			UPDATE BASICBOARD.TBL_USER SET SESSIONKEY = #{sessionId}, SESSIONLIMIT = #{next} WHERE UID =#{uid}
		</update>
		
		
	</mapper>
	
	
	
	
	
	
	
	
	